@import '../../index.scss';

#thingsToDoPage-container {
    @extend .raleway-font;
}

.title-heading {
    @extend .alegreya-font;
    font-size: 300%;
    font-weight: bold;
}

.sub-heading {
    @extend .parisienne-font;
    font-size: 150%;
    font-weight: lighter;
}

.divider {
    width: 60%;
    margin: 5px auto;
}

.headline {
    @extend .alegreya-font;
    font-size: 200%;
    font-weight: lighter;
}

.thing-to-do {
    margin-top: 17px;

    .title {
        font-size: 130%;
    }
}