@import '../../../index.scss';

.stylist-image {
    width: 100%;
    height: 400px;
    object-fit: cover;
}

.stylist-name {
    @extend .alegreya-font;
}

.flavor-text {
    margin-top: 17px !important;
    @extend .raleway-font;
}

@media screen and (max-width: 767px) {
    .stylist-image {
        height: 250px;
        width: 100%;
    }
}

.stylist-name-and-bio {
    @media screen and (max-width: 767px) {
        border-left: 1px solid $color1;
        border-right: 1px solid $color1;
        border-radius: 15px;
        margin: 0px 0px !important;

        :first-child {
            background: $color5;
        }
    }
}