@import '../index.scss';

.carousel-image {
    height: calc(60vh);
    width: 100%;
    object-fit: cover;
}

@media screen and (max-width: 767px) {
    .carousel-image {
        height: calc(100vh - 91px); // 91 pixels is the height of the toolbar + margin top and padding bottom of the route-root container
        width: 100%;
    }
}

.white-text-black-border {
    @extend .raleway-font;
    color: $color4;
    font-weight: 900;
    line-height: 40px;
    font-size: 36px;
    text-shadow:
        -1px -1px 0 #000,
        0 -1px 0 #000,
        1px -1px 0 #000,
        1px 0 0 #000,
        1px 1px 0 #000,
        0 1px 0 #000,
        -1px 1px 0 #000,
        -1px 0 0 #000;
}