@import '../index.scss';

.service-category-title {
    font-size: 200%;
}

.service-title {
    font-weight: bold;
}

#serviceList div.service-line-item ~ div.service-line-item {
    margin-top: 10px;
}

.service-footer {
    padding-top: 17px;
}

.price-disclaimer {
    padding-top: 51px;
    font-size: 80%;
}