@import '../index.scss';

div.service-container ~ div.service-container {
    padding-top: 50px;
}

.service-category-title {
    @extend .fancy-font;
    font-size: 200%;
}

.service-title {
    font-weight: bold;
}

#serviceList div.service-line-item ~ div.service-line-item {
    margin-top: 10px;
}