@import '../../index.scss';

.side-text {
    @extend .alegreya-font;
    font-size: 400%;
    writing-mode: vertical-rl;
}

.service-category-title {
    @extend .alegreya-font;
    font-size: 200%;
}

.service-list-empty-row {
    height: 24px;
    justify-content: center;
}

.service-list {
    @extend .raleway-font;
}

.service-name {
    text-align: right;
    vertical-align: middle;
    padding-right: 16px !important;
}

.service-price {
    text-align: left;
    vertical-align: middle;
    padding-left: 16px !important;
}

.service-page-footer {
    @extend .raleway-font;
}

.service-page-price-disclaimer {
    @extend .raleway-font;
    font-size: 80%;
}

.vertical-divider {
    width: 2px;
    background-color: $color2  !important;
    padding: 0px !important;
}