@import '../../index.scss';

#services-header {
    font-family: 'Alegreya Sans SC', sans-serif;
    font-weight: 500;
    font-size: 20px;
}

.services-container {
    background: $color1;
    color: $color4;
    border-radius: 10px;
}

.service-category-title {
    font-size: 200%;
    font-family: 'Alegreya Sans SC', sans-serif;
}

#serviceList {
    font-family: 'Raleway Dots', cursive;
    font-weight: bold;

    div.service-line-item~div.service-line-item {
        margin-top: 10px;
    }
}

.service-footer {
    padding-top: 17px;
}

.price-disclaimer {
    padding-top: 51px;
    font-size: 80%;
}