@import '../../index.scss';

#services-header {
    @extend .alegreya-font;
    font-weight: 500;
    font-size: 20px;
}

.services-container {
    border: 1px solid $color1;
    border-radius: 30px;
    margin-top: 17px !important;
    margin-bottom: 17px;

    :first-child {
        background: $color5;
    }

    @media screen and (max-width: 767px) {
        margin: 0px 12px !important;
    }
}

.service-category-title {
    font-size: 200%;
    @extend .alegreya-font;
}

.service-list {
    @extend .raleway-font;
    font-weight: bold;

    div.service-line-item~div.service-line-item {
        margin-top: 10px;
    }
}

.service-footer {
    padding-top: 17px;
}

.price-disclaimer {
    padding-top: 51px;
    font-size: 80%;
}