@import './index.scss';

#mainContainer {
    height: 100vh;
}

#randco_navbarBrand {
    @extend .raleway-font;
    font-size: 130%;
    font-weight: bold;
}

#mainLogo {
    height: 40px;
    width: 100%;
    object-fit: cover;
}